@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

.main__container {
  grid-area: main;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.main__cards {
  display: grid;
  gap: 24px;
  margin: 15px 0;
  grid-template-columns: 1fr 1fr;
}

.card {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 12px #dbdbdb70;
}

.grid__container {
  display: grid;
  grid-template-columns: 270px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
